@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/MuseoSansCyrl-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS */
   }


 @font-face {
  font-family: 'Museo Sans 300';
  src: url('../fonts/MuseoSansCyrl-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg'); /* Legacy iOS */
   }


  @font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/MuseoSansCyrl-900.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-900.svg#svgFontName') format('svg'); /* Legacy iOS */
   }

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	padding: 0;
	letter-spacing: 0.005em;
	margin: 0;
}

html {
	 /*overflow-x: hidden; /*add Andrey horizontal scroll removal*/
}

div, p, form, input, a, span, button{
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 0.02em;
    text-align: left;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 70px;
	line-height: 0.8em;
	letter-spacing: 0.01em;
	font-weight: bold;
	margin-bottom: 32px;
	text-transform: none;
}

h2 {
	font-size: 46px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	color: #4a5768;
}

h3 {
	color: #888886;
	font-size: 22px;
	/*line-height: 2.5em;*/
	letter-spacing: 0.01em;
	margin: 0;
	text-transform: none;
	color: #2d3033;
	font-weight: bold;
	margin-top: 26px;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.02em;
	line-height: 1.5em;
	color: #22241b;
	margin-top: 28px;
	margin-bottom: 15px;
}

h5 {
	font-size: 10px;
	letter-spacing: 0.1em;
}

a, a:hover, a:active {
	text-decoration: none;
	transition: all 0.5s ease;
}

a, button, input {
	transition: all 0.5s ease;
}

.align-items-center {
	align-items: center;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}
 
 img {
 	display: block;
 }

 .language-panel {
 	background: #ba0000;
 	height: 50px;
 	color: #fff;
 	padding-top: 12px;
 }

 .language {
 	text-decoration: none;
 	color: inherit;
 }

 .nav {
 	height: 120px;
 	width: 100%;
 	padding-top: 40px;
 	background: #ffcc00;
 	color: #ba0000;
 	position: absolute;
 	z-index: 9999;
 	transition: all 0.5s ease;
 }

 .nav_menu {
 	margin-top: 8px;
 }

 .nav_item {
 	margin-right: 48px;
 }

 .nav_item a{
 	color: #ba0000;
 	text-transform: uppercase;
 }

 .nav_item a:hover {
 	font-weight: bold;
 	border-bottom: 3px solid #ba0000;
 	padding-bottom: 49px;
 }

 .nav-link {
	padding: 0 15px;
    background-color: transparent;
    color: #5E5E5E;
    border: 0;
    font-family: inherit; 
    height: 40px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.nav-collapsed {
	flex-direction: column;
	height: 290px;
	opacity: 0.8;
}

.nav-menu-collapsed {
	margin-bottom: 10px;
}

.nav-menu-collapsed a:hover {
	border: none;
}

 .icon-bar {
   display: block;
   width: 22px;
   height: 2px;
   background-color: #ba0000;
   border-radius: 1px; 
}
.icon-bar+.icon-bar {
    margin-top: 8px;
}

.header {
	/*height: 800px;*/
	padding-bottom: 175px;
	padding-top: 300px;
	background: -moz-linear-gradient(30deg, rgba(186,0,0,1) 32%, rgba(186,0,0,0.93) 35%, rgba(255,255,255,0.41) 72%, rgba(255,255,255,0.05) 97%), url(../img/1big.png) no-repeat center top / cover;/* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(32%, rgba(186,0,0,1)), color-stop(35%, rgba(186,0,0,0.93)), color-stop(72%, rgba(255,255,255,0.41)), color-stop(97%, rgba(255,255,255,0.05))); /* safari4+,chrome */
    background: -webkit-linear-gradient(30deg, rgba(186,0,0,1) 32%, rgba(186,0,0,0.93) 35%, rgba(255,255,255,0.41) 72%, rgba(255,255,255,0.05) 97%),url(../img/1big.png) no-repeat center top / cover; /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(30deg, rgba(186,0,0,1) 32%, rgba(186,0,0,0.93) 35%, rgba(255,255,255,0.41) 72%, rgba(255,255,255,0.05) 97%),url(../img/1big.png) no-repeat center top / cover; /* opera 11.10+ */
    background: -ms-linear-gradient(30deg, rgba(186,0,0,1) 32%, rgba(186,0,0,0.93) 35%, rgba(255,255,255,0.41) 72%, rgba(255,255,255,0.05) 97%),url(../img/1big.png) no-repeat center top / cover; /* ie10+ */
    background: linear-gradient(60deg, rgba(186,0,0,1) 32%, rgba(186,0,0,0.93) 35%, rgba(255,255,255,0.41) 72%, rgba(255,255,255,0.05) 97%),url(../img/1big.png) no-repeat center top / cover; /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BA0000', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}

/*блок смены изображений*/
.bg-grad{
position: fixed;
z-index:-1;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
-webkit-transition: opacity 1s linear;
transition: opacity 1s linear;
background: #f17009;
}
.bg-grad:after{
position: fixed;
width:100%;
height:100%;
top:0px;
left:0px; 
content: '';
background: transparent url(..img/pattern.png) repeat top left;
}

.bg-grad.active{
opacity: 1;
}
 
.bg-grad.one{
background: url(../img/big.png) no-repeat center top / cover;
background-size:cover;
-webkit-background-size:cover;
}
 
.bg-grad.two{
background: url(../img/fly.png) no-repeat center top / cover;
background-size:cover;
-webkit-background-size:cover;
}

.bg-grad.three{
background: url(../img/delivery.jpg) no-repeat;
background-size:cover;
-webkit-background-size:cover;}
/*конец блока смены изображений*/

.header-title {
	line-height: 1.2;
	color: #fff;
}

.line, .search-line {
	display: block;
	height: 4px;
	width: 100px;
	background: #ffcc00;
	border-radius: 2px;
	margin-top: 55px;
	margin-bottom: 40px;
}

.header-text {
	width: 70%;
	font-size: 20px;
	color: #ffcc00;
	font-weight: bold;
}

.header-properties {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 50px;
}

.header-properties span {
	height: 4px;
	width: 4px;
	border-radius: 2px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 20px;
	background: #ffcc00;
	display: block;
}

.header-buttons {
	margin-top: 42px;
}

.header-btn, .search-btn {
	height: 48px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 24px;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 3%;
	cursor: pointer;
	transition: all 0.5s ease;
}

.header-btn:hover {
	background: #ffcc00;
	color: #ba0000;
	border-color: #ffcc00;
}

.services {
	background: #fff;
	padding-top: 135px;
	padding-bottom: 110px;
}

.services-image {
	height: 110px;
	padding-top: 28px;
	background: url(../img/Services-bg.png) no-repeat top left/ cover;
	background-size: 70%;
	margin-bottom: 80px;
}

.services-title {
	color: #ba0000;
	font-weight: bold;
	z-index: 1;
}

.cards-title {
	text-transform: uppercase;
	color: #ba0000;
}

.cards-text {
	margin-top: 13px;
	font-size: 16px;
	color: #979797;
	line-height: 1.6;
}

.cards-link {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	margin-top: 12px;
}

.cards-link span {
	color: #ba0000;
}

.search {
	background: #ba0000;
	color: #fff;
	padding: 30px;
	padding-bottom: 40px;
}

.search-title {
	color: #fff;
	margin-top: 0;
}

.search-text {
	font-size: 16px;
}

.search-line {
	margin-top: 28px;
	margin-bottom: 28px;
}

.search-btn {
	margin-top: 10px;
	padding-bottom: 12px;
	margin-bottom: 10px;
}

.search-btn:hover {
	background: #ffcc00;
	color: #ba0000;
	border-color: #ffcc00; 
}

.search-input {
	margin-bottom: 40px;
}

/*scroll top*/
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #ba0000/*rgba(33, 37, 41, 0.5)*/;
  line-height: 3.1rem;
  display: none;
  opacity: 0.9;
}

.rounded {
	border-radius: 2.25rem;
}

.position-fixed {
  position: fixed;
}

@media (max-width: 768px) {
  .scroll-to-top a {
    display: block;
  }

  .d-block {
    display: block;
  }
}

@media (min-width: 992px) {
  .d-lg-none .d-block{
    display: none;
  }

  .scroll-to-top a {
    display: none;
  }
}
/*finish scroll top*/

.input {
	margin-top: 45px;
	height: 50px;
	width: 75%;
	border: none;
	background: #9d0000;
	color: #fff;
	padding: 20px;
}

.button {
	height: 50px;
	width: 49px;
	background: #ffcc00;
	color: #ba0000;
	border: none;
	margin-left: -6px;
}

.about {
 	padding-top: 150px;
 	padding-bottom: 373px;	
	background: rgba(64,63,63,1);
background: -moz-linear-gradient(top, rgba(64,63,63,1) 0%, rgba(95,72,63,0.92) 14%, rgba(95,72,63,0.87) 22%, rgba(187,160,63,0.58) 73%, rgba(187,160,63,0.53) 82%, rgba(187,160,63,0.47) 93%, rgba(187,161,63,0.43) 100%), url(../img/about-bg.png) no-repeat center top / cover;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,63,63,1)), color-stop(14%, rgba(95,72,63,0.92)), color-stop(22%, rgba(95,72,63,0.87)), color-stop(73%, rgba(187,160,63,0.58)), color-stop(82%, rgba(187,160,63,0.53)), color-stop(93%, rgba(187,160,63,0.47)), color-stop(100%, rgba(187,161,63,0.43)));
background: -webkit-linear-gradient(top, rgba(64,63,63,1) 0%, rgba(95,72,63,0.92) 14%, rgba(95,72,63,0.87) 22%, rgba(187,160,63,0.58) 73%, rgba(187,160,63,0.53) 82%, rgba(187,160,63,0.47) 93%, rgba(187,161,63,0.43) 100%),url(../img/about-bg.png) no-repeat center top / cover;
background: -o-linear-gradient(top, rgba(64,63,63,1) 0%, rgba(95,72,63,0.92) 14%, rgba(95,72,63,0.87) 22%, rgba(187,160,63,0.58) 73%, rgba(187,160,63,0.53) 82%, rgba(187,160,63,0.47) 93%, rgba(187,161,63,0.43) 100%),url(../img/about-bg.png) no-repeat center top / cover;
background: -ms-linear-gradient(top, rgba(64,63,63,1) 0%, rgba(95,72,63,0.92) 14%, rgba(95,72,63,0.87) 22%, rgba(187,160,63,0.58) 73%, rgba(187,160,63,0.53) 82%, rgba(187,160,63,0.47) 93%, rgba(187,161,63,0.43) 100%),url(../img/about-bg.png) no-repeat center top / cover;
background: linear-gradient(to bottom, rgba(64,63,63,1) 0%, rgba(95,72,63,0.92) 14%, rgba(95,72,63,0.87) 22%, rgba(187,160,63,0.58) 73%, rgba(187,160,63,0.53) 82%, rgba(187,160,63,0.47) 93%, rgba(187,161,63,0.43) 100%),url(../img/about-bg.png) no-repeat center top / cover;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#403f3f', endColorstr='#bba13f', GradientType=0 );
	Colorstr='#BA0000', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}

.about-title {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 47px; 
}

.about-play {
	height: 3.8rem;
	width: 3.8rem;
	display: block;
	background: #ffcc00;
	border-radius: 38px;
	margin: 0 auto;
	margin-top: 65px;
	color: #ba0000;
	text-align: center;
	padding-top: 19px;
}

.about-play:hover {
	color: #ba0000;
}

.logistic {
	background: #fff;
	padding-bottom: 100px;
}

.logistic-cards {
	height: 400px;
	margin-top: -190px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	padding-bottom: 30px;
}

.logistic-img {
	width: 100%;
	display: block;
	z-index: 10;
}

.logistic-title {
	color: #ba0000;
	margin-left: 30px;
}

.card-list {
	margin-left: 30px;
	margin-top: 30px;
	color: #777777;
}

.card-list span {
	color: #ffcc00;
}

.express {
	height: 532px;
	background: #ba0000;
	margin-top: 100px;
}

.express-btn {
	width: 50%;
	height: 46px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 12px;
	font-weight: bold;
}

.express-btn:active {
	background: #ffcc00;
	color: #ba0000;
} 

@media screen and (max-width: 992px) {

	.logistic-cards {
		margin-top: 40px;
		height: 580px;
	}

	.card-one {
		margin-top: -275px;
	}

	.top {
		margin-top: 40px;
	}
}	

@media screen and (max-width: 768px) {

	.logistic-cards {
		margin-top: 40px;
		height: 480px;
	}

	.card-one {
		margin-top: -275px;
	}
}

@media screen and (max-width: 576px) {
	
}






