
@font-face {
    font-family: 'Panton';
    src: url('Panton-Bold.eot');
    src: local('Panton Bold'), local('Panton-Bold'),
        url('Panton-Bold.eot?#iefix') format('embedded-opentype'),
        url('Panton-Bold.woff') format('woff'),
        url('Panton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('Panton-ExtraBold.eot');
    src: local('Panton ExtraBold'), local('Panton-ExtraBold'),
        url('Panton-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Panton-ExtraBold.woff') format('woff'),
        url('Panton-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('Panton-SemiBold.eot');
    src: local('Panton SemiBold'), local('Panton-SemiBold'),
        url('Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Panton-SemiBold.woff') format('woff'),
        url('Panton-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('Panton-Black.eot');
    src: local('Panton Black'), local('Panton-Black'),
        url('Panton-Black.eot?#iefix') format('embedded-opentype'),
        url('Panton-Black.woff') format('woff'),
        url('Panton-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Panton';
    src: url('Panton-Regular.eot');
    src: local('Panton Regular'), local('Panton-Regular'),
        url('Panton-Regular.eot?#iefix') format('embedded-opentype'),
        url('Panton-Regular.woff') format('woff'),
        url('Panton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Panton-Regular', sans-serif;
	margin: 0;
	padding: 0;
}

div, p, form, input, a, span, button{
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 0.02em;
    text-align: left;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 40px;
	line-height: 1.25em;
	color: #fff;
	letter-spacing: 0.009em;
	text-align: left;
	font-weight: 800;
	margin-bottom: 13px;
	font-weight: bold;
}

h2 {
	font-size: 36px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	font-weight: bold;
}

h3 {
	color: #fff;
	font-size: 19px;
	/*line-height: 2.5em;*/
	letter-spacing: 0.01em;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.3;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.02em;
	line-height: 1.5em;
	color: #22241b;
	margin-bottom: 10px;
}

h5 {
	font-size: 10px;
	letter-spacing: 0.1em;
}

a, a:hover, a:active {
	/*text-decoration: none;*/
}

a, button, input {
	transition: all 0.5s ease;
}

.align-items-center {
	align-items: center;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}
 
 img {
 	display: block;
 }

 .container {
 	max-width: 1170px;
 }

 .container-fluid_plain {
 	padding: 0;
 	width: 100%;
	margin-right: auto;
  	margin-left: auto;
 }

 .info {
 	padding: 12px 0px 8px 0px;
 	background: #1d1e1e;
 }

 .info-list {
 	padding-bottom: 2px;
 }

 .info-list li a {
 	text-decoration: none;
 	color: #fff;
 	font-size: 13px;
 	letter-spacing: 0.072em;
 }

 .info-text {
 	color: #fff;
 	font-size: 13px;
 	margin-left: 24%;
 	margin-top: 3px;
 }

 .info-phone {
 	margin-left: 6.8%;
 	display: block;
 	text-decoration: none !important;
 	text-transform: uppercase;
 	color: #009ee2;
 	font-weight: bold;
 	font-size: 20px;
 	letter-spacing: 0.12em;
 }

 .search {
 	padding: 22px 0px 26px 0px;
 }

 .logo {
 	font-size: 49px;
 	font-weight: 900;
 	color: #009ee2;
 	margin-left: -6px;
 }

 .logo span {
 	text-transform: uppercase;
 }

 .search-form {
 	margin: 0 auto;
 }

 .search-input {
 	width: 100%;
 	margin-top: 18px;
 	border: 1px solid #ddd;
 	border-radius: 5px;
 	height: 42px;
	padding-left: 22px;
	font-size: 15px;
 }

 .search-form button {
 	margin-left: -50px;
 	border: none;
 	background: #fff;
 }

 .fa-search {
 	font-weight: 600;
 	font-size: 21px;
 }

 .search-icon {
 	height: 28px;
	width: 28px;
	margin: 0 auto;
	margin-top: 24px;
 }

 .user {
 	height: 30px;
 	width: 30px;
 }

 .info-list__item span{
 	font-size: 7px;
 	color: #6a6a6a;
 	margin: 5px 29px 5px 29px;
 	font-weight: bold;
 }

 /*.info-list__item i {
 	margin-left: 10px;
 	margin-right: 10px;
 }*/

 .nav {
 	background: #efefef;
 	padding: 16px 0px 22px 0px;
 	height: 61px;
 }

 .nav-menu {
 	margin-left: 1%;
 }

 .item {
	margin-right: 9.9%;
 }

 .menu-link a {
 	text-decoration: none;
 	color: #1d1e1e;
 	font-weight: bold;
 	text-transform: uppercase;
	font-size: 14px;
 }

 .menu-link a:hover {
 	color: #009ee2;
 }

.nav-catalog__btn {
	color: #fff;
	width: 262px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#32b8e9+0,1ea4d9+48,098fc7+100 */
	background: #32b8e9; /* Old browsers */
background: -webkit-linear-gradient(left, #32b8e9 0%, #1ea4d9 48%, #098fc7 100%);
background: -o-linear-gradient(left, #32b8e9 0%, #1ea4d9 48%, #098fc7 100%);
background: linear-gradient(to right, #32b8e9 0%, #1ea4d9 48%, #098fc7 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b8e9', endColorstr='#098fc7',GradientType=1 ); /* IE6-9 */
	height: 61px;
	position: absolute;
	top: -16px;
	padding: 16px 15px 20px 15px;
}

.nav-hamburger {
	margin-right: 15px;
	padding-top: 6px;
}

.icon-bar {
   display: block;
   width: 25px;
   height: 2px;
   background-color: #fff;
   border-radius: 1px; 
}
.icon-bar+.icon-bar {
    margin-top: 6px;
}

.nav-catalog__btn p {
	font-size: 19px;
	letter-spacing: 0.012em;
	margin-left: 5px;
	margin-top: -6px;
}

.nav-shevron {
	margin-left: 18px;
	padding-top: 5px;
	color: #54b2da;
}

.header {
	padding: 30px 0px;
}

.header-catalog__link {
	height: 46px;
	width: 100%;
	background: #efefef;
	margin-bottom: 1px;
	padding: 10px 5px 16px 20px;
	color: #1d1e1e;
	transition: all 0.5s ease;
	cursor: pointer;
}

.header-catalog__link:hover {
	margin-right: -3px;
}

.header-catalog__link a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	font-size: 15px;
}

.header-catalog__link a i {
	font-size: 13px;
	margin: 10px 10px 0px 3px;
}

.circle {
	font-size: 10px !important;
	margin-right: 20px !important;
}

.header-catalog {
	-webkit-box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
	-moz-box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
	box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
	width: 100%;
	margin-right: 30px;
}

.fa-chevron-right, .fa-chevron-left {
	float: right;
	color: #d3d3d3;
	margin-top: 8px;
}

.fa-chevron-left {
	margin-right: 2px;
}


.header-discount {		
background: rgba(0,134,192,1);
background: -moz-linear-gradient(-45deg, rgba(0,134,192,1) 0%, rgba(246,41,12,1) 0%, rgba(0,134,192,1) 0%, rgba(3,137,195,1) 14%, rgba(62,197,242,1) 70%, rgba(62,197,242,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,134,192,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(0,134,192,1)), color-stop(14%, rgba(3,137,195,1)), color-stop(70%, rgba(62,197,242,1)), color-stop(100%, rgba(62,197,242,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,134,192,1) 0%, rgba(246,41,12,1) 0%, rgba(0,134,192,1) 0%, rgba(3,137,195,1) 14%, rgba(62,197,242,1) 70%, rgba(62,197,242,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,134,192,1) 0%, rgba(246,41,12,1) 0%, rgba(0,134,192,1) 0%, rgba(3,137,195,1) 14%, rgba(62,197,242,1) 70%, rgba(62,197,242,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,134,192,1) 0%, rgba(246,41,12,1) 0%, rgba(0,134,192,1) 0%, rgba(3,137,195,1) 14%, rgba(62,197,242,1) 70%, rgba(62,197,242,1) 100%);
background: linear-gradient(135deg, rgba(0,134,192,1) 0%, rgba(246,41,12,1) 0%, rgba(0,134,192,1) 0%, rgba(3,137,195,1) 14%, rgba(62,197,242,1) 70%, rgba(62,197,242,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086c0', endColorstr='#3ec5f2', GradientType=1 );
	padding: 58px 42px 36px 40px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
	-moz-box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
	box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
}

.header-discount__info {
	width: 50%;
}

.header-discount span {
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 0.16em;
}

.header-discount__pointer {
	height: 14px;
}

.discount-text {
	color: #4bd1fe;
	font-size: 20px;
	text-align: left;
	font-weight: 600;
	letter-spacing: 0.07em;
}

.discount-btn {
	color: #fff;
	background: #1d1e1e;
	padding: 15px 0px 15px 0px;
	display: block;
	width: 175px;
	height: 54px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
	margin-top: 23px;
	letter-spacing: 0.18em;
	margin-bottom: 31px;
}

.discount-btn:hover {
	text-decoration: none;
	background: #24313A !important;
	color: #fff !important;
}

.discount-img {
	height: 447px;
	width: 370px;
	right: 60px;
	top: -15px;
	background: url(../img/bg_img.png) no-repeat top left/ cover; 
	background-size: 90%;
	position: absolute;
}

.header-discount__cards {
	margin-top: 28px;
}

.header-card {
	background: rgba(0,134,192,1);
background: -moz-linear-gradient(-45deg, rgba(0,134,192,1) 0%, rgba(246,41,12,1) 0%, rgba(0,134,192,1) 0%, rgba(3,137,195,1) 14%, rgba(62,197,242,1) 70%, rgba(62,197,242,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,134,192,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(0,134,192,1)), color-stop(14%, rgba(3,137,195,1)), color-stop(70%, rgba(62,197,242,1)), color-stop(100%, rgba(62,197,242,1)));
background: -webkit-linear-gradient(-45deg, rgba(0,134,192,1) 0%, rgba(246,41,12,1) 0%, rgba(0,134,192,1) 0%, rgba(3,137,195,1) 14%, rgba(62,197,242,1) 70%, rgba(62,197,242,1) 100%);
background: -o-linear-gradient(-45deg, rgba(0,134,192,1) 0%, rgba(246,41,12,1) 0%, rgba(0,134,192,1) 0%, rgba(3,137,195,1) 14%, rgba(62,197,242,1) 70%, rgba(62,197,242,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(0,134,192,1) 0%, rgba(246,41,12,1) 0%, rgba(0,134,192,1) 0%, rgba(3,137,195,1) 14%, rgba(62,197,242,1) 70%, rgba(62,197,242,1) 100%);
background: linear-gradient(135deg, rgba(0,134,192,1) 0%, rgba(246,41,12,1) 0%, rgba(0,134,192,1) 0%, rgba(3,137,195,1) 14%, rgba(62,197,242,1) 70%, rgba(62,197,242,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0086c0', endColorstr='#3ec5f2', GradientType=1 ); 
	height: 172px;
	border-radius: 5px;
	width: 262px;
	-webkit-box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
	-moz-box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
	box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
	padding: 22px 0px 18px 21px;
	color: #fff;
}

.header-card__text {
	text-align: left;
	color: #4bd1fe;
	font-size: 13px;
	width: 125px;
	line-height: 1.3;
	margin-top: 7px;
	letter-spacing: 0.1em;
}

.header-card__btn {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: #1d1e1e;
	display: block;
	color: #fff;
	padding-bottom: 3px;	
	font-size: 12px;
	padding-right: 7px;
}

.card-left{
	margin-top: 12px;
}

.card-center {
	margin-top: 30px;
	margin-left: 4px;
}

.card-right {
	margin-top: 30px;
	margin-left: 4px;
}

.header-card__btn:hover  {
	background: #424F58;
}

.header-card__btn i{
	margin-top: 7px;
}

.left, .center{
	margin-right: 3.5%;
}

.header-card-img {
	width: 165px;
	height: 165px;
	margin-left: 40%;
	margin-top: -135px;
}

.fish {
	background: url(../img/rawbite.png) no-repeat top center/ cover;
}

.book {
	background: url(../img/book.png) no-repeat top right/ cover; 
	height: 190px;
	margin-top: -156px;
}

.manfish {
	background: url(../img/mananfish.png) no-repeat top right/ cover;
	margin-left: auto;
	margin-top: -180px;
	width: 200px;
	height: 220px; 
}

.header-bottom__line {
	width: 97%;
	height: 2px;
	background: #efefef;
	display: block;
	margin: 0 auto;
	margin-top: 100px;
}

.hits, .news {
	padding: 10px 0px 33px;
}

.hits-catalog__submit, .news-catalog__submit {
	color: #6bbbea;
	margin-left: 26px;
	margin-top: 15px;
	letter-spacing: 0.04em;
}

.news-catalog__submit {
	margin-left: 22px;
}

.hits-catalog__submit, .news-catalog__submit:hover {
	color: #6bbbea;
}

.hit-card, .news-card {
	width: 100%;
	height: 448px;
	margin-top: 40px;
	padding: 18px 0px 20px 27px;
	box-shadow: 0 14px 10px rgba(170,183,192,1), 0 10px 10px rgba(170,183,192,1);
}

.star {
	height: 17px;
	width: 17px;
}

.hit-icon {
	height: 22px;
	margin-left: 110px;
}

.product {
	padding: 24px 0px 20px 17px;
}
 
.bastseller, .action {	
	background: rgba(1,135,192,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(1,135,192,1) 0%, rgba(23,158,211,1) 0%, rgba(38,170,223,1) 30%, rgba(13,146,203,1) 74%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(1,135,192,1)), color-stop(0%, rgba(23,158,211,1)), color-stop(30%, rgba(38,170,223,1)), color-stop(74%, rgba(13,146,203,1)), color-stop(85%, rgba(13,146,203,1)), color-stop(85%, rgba(13,146,203,1)), color-stop(100%, rgba(9,142,199,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(1,135,192,1) 0%, rgba(23,158,211,1) 0%, rgba(38,170,223,1) 30%, rgba(13,146,203,1) 74%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(1,135,192,1) 0%, rgba(23,158,211,1) 0%, rgba(38,170,223,1) 30%, rgba(13,146,203,1) 74%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(1,135,192,1) 0%, rgba(23,158,211,1) 0%, rgba(38,170,223,1) 30%, rgba(13,146,203,1) 74%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: radial-gradient(ellipse at center, rgba(1,135,192,1) 0%, rgba(23,158,211,1) 0%, rgba(38,170,223,1) 30%, rgba(13,146,203,1) 74%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0187c0', endColorstr='#098ec7', GradientType=1 );
}

.hit-card__title, .news-card__title {
	margin-bottom: 5px;
	text-transform: none;
	font-size: 32px;
	letter-spacing: 0;
}

.news-card__title {
	margin-top: 5px;
}

.hit-card__text, .news-card__text {
	font-size: 22px;
	color: #40c5f3;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 0.05em;
}

.news-card__discount {
	font-size: 95px;
	font-weight: 800;
	color: #67b7de;
	margin: 40px 0px 47px -15px;
	display: block;
	letter-spacing: -0.03em !important;
}

.news-btn, .hits-btn {
	display: block;
	height: 27px;
	width: 27px;
	border-radius: 50%;
	background: #1d1e1e;
	text-align: center;
	margin-left: 2px;
	padding-right: 8px;
	margin-top: 7px;
	font-size: 11px;
}

.left {
	padding-right: ;
}

.news-btn:hover {
	background: #424F58;
}

.hits-btn:hover {
	background: #424F58;
}

.hit-card__img {
	background: url(../img/koil2.png) no-repeat top/ cover; 
	height: 295px;
	width: 220px;
	margin-top: -50px;
	margin-left: 22px;
}

.hit-card__money, .news-card__money {
	text-align: left;
	color: #fff;
	font-size: 30px;
	margin-top: -19px;
	letter-spacing: 0.18em;
}

.news-card__money {
	margin-left: 3px;
}

.block-hit {
	height: 36px;
	width: 58px;
	text-align: center;
	color: #fff;
	background: #1197ce;
	border-radius: 3px;
	padding-top: 7px;
	font-weight: bold;
	margin-left: -17px;
	position: absolute;
	margin-top: 16px;
	font-size: 14px;
}

.block-discount {
	height: 36px;
	width: 86px;
	border-radius: 3px;
	padding-top: 5px;
	color: #fff; 
	background: #00963f;
	text-align: center;
	font-weight: bold;
	margin: -24px 0px 3px -17px;
	position: absolute;
}

.hit-card-spinning__img {
	background: url(../img/rollenhalter.png) no-repeat top left/ cover; 
	background-size: 100% 100%;
	height: 200px;
	width: 95%;
	margin-bottom: 35px;
}

.hit-card-fish__img {
	background: url(../img/jigging.png) no-repeat top left/ cover; 
	background-size: 100% 130%;
	height: 250px;
	width: 100%;
	margin-top: -30px;
	margin-bottom: 15px;
}

.hit-card-koil__img {
	background: url(../img/koil.png) no-repeat top left/ cover; 
	background-size: 100% 100%;
	height: 220px;
	width: 170px;
	margin: 5px 0px 10px 20px;
}

.hit-card__position, .news-card__position {
	text-align: left;
	line-height: 1.4;
	letter-spacing: 0.07em;
	margin-bottom: 7px;
}

.hit-card span, .news-card span {
	font-weight: 800;
	letter-spacing: 0.05em;
}

.hit-card__btn, .news-card__btn {
	display: block;
	height: 52px;
	width: 225px;
	text-align: center;
	padding: 13px 0px 18px;
	background: rgba(51,185,233,1);
background: -moz-linear-gradient(left, rgba(51,185,233,1) 0%, rgba(38,170,223,1) 37%, rgba(23,158,211,1) 64%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,185,233,1)), color-stop(37%, rgba(38,170,223,1)), color-stop(64%, rgba(23,158,211,1)), color-stop(85%, rgba(13,146,203,1)), color-stop(85%, rgba(13,146,203,1)), color-stop(85%, rgba(13,146,203,1)), color-stop(100%, rgba(9,142,199,1)));
background: -webkit-linear-gradient(left, rgba(51,185,233,1) 0%, rgba(38,170,223,1) 37%, rgba(23,158,211,1) 64%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -o-linear-gradient(left, rgba(51,185,233,1) 0%, rgba(38,170,223,1) 37%, rgba(23,158,211,1) 64%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -ms-linear-gradient(left, rgba(51,185,233,1) 0%, rgba(38,170,223,1) 37%, rgba(23,158,211,1) 64%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: linear-gradient(to right, rgba(51,185,233,1) 0%, rgba(38,170,223,1) 37%, rgba(23,158,211,1) 64%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b9e9', endColorstr='#098ec7', GradientType=1 );
	color: #fff;
	text-transform: uppercase;
	margin-top: 20px;
	font-weight: bold;
	border-radius: 3px;
	letter-spacing: 0.16em;
}

.hit-icons, .news-icons {
	height: 23px;
	width: 100%;
	margin-bottom: 5px;
}

.hit-card__btn:hover {
	text-decoration: none;
	color: #fff;
	background: #32b8e9;
}

.news-card__btn:hover {
	text-decoration: none;
	color: #fff;
	background: #009ee2;
}

.news-card__img {
	background: url(../img/spinning.png) no-repeat top left/ cover; 
	background-size: 82%;
	height: 100%;
	width: 105px;
	margin-top: -390px;
	margin-left: 112px;
	position: absolute;
}

.news-card-koil1__img {
	background: url(../img/koil1.png) no-repeat top left/ cover; 
	height: 200px;
	width: 180px;
	margin: 10px 0px 25px 9px;
}

.news-card-nipple__img {
	background: url(../img/nipple.png) no-repeat top left/ cover; 
	background-size: 100% 70%;
	height: 180px;
	width: 95%;
	margin: 50px 0px 5px;
}

.news-card-bag__img {
	background: url(../img/bag.png) no-repeat top center/ cover; 
	background-size: 69% 85%;
	height: 180px;
	width: 100%;
	margin: 35px 0px 20px -4px;
}

.last_news {
	padding: 10px 0px 10px 0px;
}

.last_news-title {
	margin-bottom: 57px;
}

.news-title {
	font-size: 35px; 
}

.last_news__card {
	box-shadow: 0 14px 10px rgba(170,183,192,1), 0 10px 10px rgba(170,183,192,1);
	padding-bottom: 22px;
	background: #fff;
}

.last_news__card, .data {
	border-radius: 3px;
}

.data {
	position: absolute;
	height: 36px;
	width: 96px;
	background: #1d1e1e;
	color: #fff;
	text-align: center;
	padding-top: 7px;
	font-size: 14px;
	padding-left: px;
	letter-spacing: -0.02em
}

.last_news__card1__img {
	background: url(../img/manandfish.png) no-repeat top center/ cover;
	width: 100%;
	height: 207px;
	margin-bottom: 20px;
}

.last_news__card__title {
	margin-left: 22px;
	font-size: 15px;
	letter-spacing: 0.04em;
}

.last_news__card__text {
	text-align: left;
	color: #acadad;
	margin: 0px 22px 0px 22px;
	font-size: 13px;
	letter-spacing: 0.03em;
	line-height: 1.7;
}

.last_news__card a {
	display: block;
	margin: 22px 0px 0px 22px;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 0.15em;
}

.last_news__card2__img {
	background: url(../img/fishing.png) no-repeat top center/ cover;
	width: 100%;
	height: 207px;
	margin-bottom: 20px;
}

.last_news__card3__img {
	background: url(../img/wowfishing.png) no-repeat top center/ cover;
	width: 100%;
	height: 207px;
	margin-bottom: 20px;
}

.last_news__form {
	width: 100%;
	background: #eeeeee;
	padding-top: 270px;
	padding-bottom: 41px;
	margin-top: -232px
}

.last_news__form__text {
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
	letter-spacing: 0.017em;
}

.last_news__input {
	margin: 0 auto;
	width: 80%;
	height: 57px;
	padding-left: 30px;
}

.last_news__form button {
	width: 23%;
	height: 57px;	
	background: rgba(51,185,233,1);
background: -moz-linear-gradient(left, rgba(51,185,233,1) 0%, rgba(38,170,223,1) 37%, rgba(23,158,211,1) 64%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,185,233,1)), color-stop(37%, rgba(38,170,223,1)), color-stop(64%, rgba(23,158,211,1)), color-stop(85%, rgba(13,146,203,1)), color-stop(85%, rgba(13,146,203,1)), color-stop(85%, rgba(13,146,203,1)), color-stop(100%, rgba(9,142,199,1)));
background: -webkit-linear-gradient(left, rgba(51,185,233,1) 0%, rgba(38,170,223,1) 37%, rgba(23,158,211,1) 64%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -o-linear-gradient(left, rgba(51,185,233,1) 0%, rgba(38,170,223,1) 37%, rgba(23,158,211,1) 64%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -ms-linear-gradient(left, rgba(51,185,233,1) 0%, rgba(38,170,223,1) 37%, rgba(23,158,211,1) 64%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: linear-gradient(to right, rgba(51,185,233,1) 0%, rgba(38,170,223,1) 37%, rgba(23,158,211,1) 64%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b9e9', endColorstr='#098ec7', GradientType=1 );
	color: #fff;
	text-align: center;
	border: none;
	margin-left: -40px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 0.15em;
}

.discounts {
	padding: 60px 0px 58px;
}

.discounts-all__product {
	height: 280px;
	width: 100%;
	padding: 42px 0px 42px 39px;
	background: rgba(1,135,192,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(1,135,192,1) 0%, rgba(23,158,211,1) 0%, rgba(38,170,223,1) 30%, rgba(13,146,203,1) 74%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(1,135,192,1)), color-stop(0%, rgba(23,158,211,1)), color-stop(30%, rgba(38,170,223,1)), color-stop(74%, rgba(13,146,203,1)), color-stop(85%, rgba(13,146,203,1)), color-stop(85%, rgba(13,146,203,1)), color-stop(100%, rgba(9,142,199,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(1,135,192,1) 0%, rgba(23,158,211,1) 0%, rgba(38,170,223,1) 30%, rgba(13,146,203,1) 74%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(1,135,192,1) 0%, rgba(23,158,211,1) 0%, rgba(38,170,223,1) 30%, rgba(13,146,203,1) 74%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(1,135,192,1) 0%, rgba(23,158,211,1) 0%, rgba(38,170,223,1) 30%, rgba(13,146,203,1) 74%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
background: radial-gradient(ellipse at center, rgba(1,135,192,1) 0%, rgba(23,158,211,1) 0%, rgba(38,170,223,1) 30%, rgba(13,146,203,1) 74%, rgba(13,146,203,1) 85%, rgba(13,146,203,1) 85%, rgba(9,142,199,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0187c0', endColorstr='#098ec7', GradientType=1 );
	-webkit-box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
	-moz-box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
	box-shadow: 4px 44px 22px -38px rgba(170,183,192,1);
}

.discounts-all__title {
	font-size: 43.5px;
	color: #fff;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 0.07em;
	word-spacing: -7px;
}

.discounts-all__title span {
	font-size: 22px;
	color: #5dd5fe;
	font-weight: normal;
	margin: -10px 0px 10px 20px;
	font-size: 20px;
	letter-spacing: 0.11em;
}

.discount-all__numbers {
	margin-top: 38px;
	width: 75%;
}

.discount-all__btn {
	height: 37px;
	width: 37px;
	border-radius: 50%;
	background: #1d1e1e;
	display: block;
	padding: 3px 11px;
	margin-right: 15%;
	margin-top: 15px;
}

.discount-all__btn:hover {
	background: #424F58;
}

.discount-all__numbers span {
	font-size: 95px;
	font-weight: 800;
	color: #67b7de;
	margin-top: -40px;
	letter-spacing: -0.03em;
}

.discounts-all__img {
	background: url(../img/fishingline.png) no-repeat top center/ cover;
	background-size: 89% 100%;
	width: 200px;
	height: 300px;
	top: 10px;
	margin-top: -24px;
	margin-left: 53%;
	position: absolute;	
}

.discounts-all__img__koil {
	background: url(../img/coil2.png) no-repeat top center/ cover;
	background-size: 100%;
	width: 200px;
	height: 275px;
	top: 10px;
	margin-top: 20px;
	margin-left: 51%;
	position: absolute;	
}

.about {
	padding: 30px 0px 63px;
}

.about-title {
	color: #1d1e1e;
	font-weight: bold;
	margin-bottom: 45px;
	font-size: 35px;
	word-spacing: -5px;
	letter-spacing: -0.02em;
} 

.about-text {
	text-align: left;
	margin-left: 5px;
	margin-bottom: 25px;
	font-size: 13px;
	letter-spacing: 0.06em;
	line-height: 1.9;
	word-spacing: 2px;
}

.footer {
	background: #1d1e1e;
	padding: 52px 0px 45px;
	font-size: 13px;
	color: #6d6d6d;
}

.footer-logo {
	font-size: 44px;
 	font-weight: 900;
 	color: #6d6d6d;
 	margin-bottom: 56px;
 	letter-spacing: 0.07em;
}

.footer-logo span {
	text-transform: uppercase;
}

.footer-text {
	font-weight: 600;
	width: 220px;
	font-size: 13px;
	line-height: 1.6;
}

.footer-dawnload, .footer-connection {
	font-size: 14px;
	font-weight: bold;
	margin-right: 150px;
	margin-bottom: 10px;
	text-decoration: underline;
	display: block;
}

.footer-title {
	color: #fff;
	text-align: left;
	margin-top: 7px;
	margin-bottom: 17px;
}

.footer-list li {
	margin-top: 12px;
	font-weight: bold;
	font-size: 12px;
}

.footer-list li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #6d6d6d;
	letter-spacing: 0.08em;
}

.footer-mail {
	text-transform: none !important;
	color: #148BCE !important;
	font-size: 13px;
	text-decoration: underline !important;
}

.footer-phone {
	font-size: 15px;
	font-size: 14px;
	line-height: 1.3;
}

.footer-line {
	background: #353535;
	margin-top: 50px;
	width: 100%;
	margin-bottom: 50px;
}

.footer-social {
	height: 30px;
	color: #6d6d6d;
}

.footer-social__text {
	font-size: 12px;
	display: block;
}

.footer-social__icons a{
	display: block;
	margin-left: 58px;
	color: #6d6d6d;
	font-size: 20px;
	margin-top: -10px;
}